* {
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  /* cursor: pointer;*/
  font-family: sans-serif;
}
.container {
  margin-top: 5rem;
  width: 20.5rem;
  height: auto;
  border: 1px solid black;
  padding: 0.1rem;
  border-radius: 3px;
}
.displayer-container {
  text-align: right;
}
#displayer1,
#displayer2 {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 98%;
  height: 2.5rem;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 3px;
}
#displayer1 {
  background-color: rgb(211, 212, 212);
}
#displayer2 {
  font-size: 2rem;
}
table tr th {
  font-size: 2rem;
  width: 5rem;
  height: 3rem;
  cursor: pointer;
  background-color: aqua;
  cursor: pointer;
  border-radius: 3px;
}
.equalSign {
  background-color: rgb(189, 194, 192);
}
#displayer2 {
  border-bottom: 1px solid black;
}
